logs
target
/project/project
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/.g8
.bloop
/.metals
/dev.sqlite
.env
.env.*
test.sqlite
/devops/build
/.dir-locals.el
test.sqlite-journal
/build/
